pupp-date {
  overflow: auto;
  height: 100%;

  .table-wrapper {
    width: 1480px;
  }
  #date-time-field, .input-field-length {
    width: 65%;
  }
  .mat-footer-row {
    height: 6em;
    background: antiquewhite;
  }

}
