exam-tabs {
  .selected {
    background: #ff8f00
  }

  mat-tab-group {
    background-color: white;

    .mat-button {
      width: 100%;
      text-align: left;
    }

    .mat-tab-body-content {
      overflow: visible;
    }
  }


}
