<form (submit)="email.valid && submit()">
    <mat-card>
        <img class="logo" src="../../../assets/logo.jpg" routerLink="/{{routePaths.login}}">
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{forgotPasswordText.email}}</mat-label>
                <input matInput [formControl]="email" type="email" email required>
                <mat-error *ngIf="email.errors?.required">
                    {{forgotPasswordText.emailRequired}}
                </mat-error>
                <mat-error *ngIf="email.errors?.email">
                    {{forgotPasswordText.emailInvalid}}
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <button type="submit"
                id="remind-password"
                [disabled]="!isResetEnabled"
                mat-raised-button
        >{{forgotPasswordText.resetPassword | uppercase }}</button>
    </mat-card>
</form>
