<form [formGroup]="passwordForm" (submit)="passwordForm.valid && submit()">
    <mat-card>
        <img class="logo" src="../../../assets/logo.jpg" routerLink="/{{routePaths.login}}" alt="">
        <mat-card-content>
            <div class="passwords">
                <mat-form-field>
                    <mat-label>{{changePasswordText.password}}</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="passwordForm.controls.password.errors?.required">
                        {{changePasswordText.passwordRequired}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls.password.errors?.minlength">
                        {{changePasswordText.passwordLength}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{changePasswordText.repeatPassword}}</mat-label>
                    <input matInput formControlName="repeatPassword" type="password" required>
                    <mat-error *ngIf="passwordForm.controls.repeatPassword.errors?.required">
                        {{changePasswordText.passwordRequired}}
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls.repeatPassword.errors?.passwordMatch">
                        {{changePasswordText.passwordsDoNotMatch}}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <button type="submit"
                [disabled]="!isChangeEnabled"
                id="change-password"
                mat-raised-button
        >{{changePasswordText.changePassword | uppercase }}</button>
    </mat-card>
</form>
