@import "user/login/login";
@import "user/logout/logout";
@import "user/sign-up/sign-up";
@import "user/forgot-password/forgot-password";
@import "user/change-password/change-password";
@import "service/snackbar/snackbar";
@import "home/exam-tabs/exam-tabs";

@import "home/dashboard/maturity-exam/exam-list/exam-list";
@import "home/dashboard/maturity-exam/exam-programs/exam-program";
@import "home/dashboard/maturity-exam/exam-dates/exam-date";
@import "home/dashboard/maturity-exam/course-credit/course-credit";

@import "home/dashboard/pupp-exam/exam/pupp-exam";
@import "home/dashboard/pupp-exam/pupp-program/pupp-program";

@import "home/home.component";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@angular/material/_theming";

html {
  background: linear-gradient(to right, rgb(255, 0, 0), rgba(255, 255, 0, 0.67));
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  height: 100%;
}

$custom-typography: mat-typography-config(
        $input: mat-typography-level(16px, 1.125, 400)
);

@include mat-core($custom-typography);

button.mat-raised-button {
  color: grey;
}
