<div class="example-container ">
    <mat-table matSort matSortDisableClear [dataSource]="programs">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{examListText.name}}</mat-header-cell>
            <mat-cell *matCellDef="let program">
                <mat-form-field floatLabel="never">
                    <input matInput class="program-name" (input)="updateProgram(program)" [(ngModel)]="program.name">
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-form-field floatLabel="never">
                    <mat-label>{{examListText.name}}</mat-label>
                    <input matInput [(ngModel)]="newProgram.name" placeholder="{{examListText.name}}" required>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef>{{examListText.subject}}</mat-header-cell>
            <mat-cell *matCellDef="let program; index as i">
                <mat-form-field>
                    <mat-select (selectionChange)="updateProgram(program)" [(ngModel)]="programs.data[i].subject">
                        <mat-option [value]="subject"
                                    *ngFor="let subject of subjectNames">{{subjectTypeEnum[subject]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <mat-label>{{examListText.subject}}</mat-label>
                    <mat-select [(ngModel)]="newProgram.subject">
                        <mat-option [value]="subject"
                                    *ngFor="let subject of subjectNames">{{subjectTypeEnum[subject]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="programUrl">
            <mat-header-cell *matHeaderCellDef>{{examListText.programUrl}}</mat-header-cell>
            <mat-cell *matCellDef="let program">
                <mat-form-field floatLabel='never'>
                    <input matInput class="program-url" (input)="updateProgram(program)" [(ngModel)]="program.programUrl" required>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <input matInput [(ngModel)]="newProgram.programUrl" placeholder="{{examListText.programUrl}}"
                           required>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>{{examListText.delete}}</mat-header-cell>
            <mat-cell *matCellDef="let program">
                <button mat-icon-button>
                    <mat-icon (click)="delete(program)" id="delete-icon">delete</mat-icon>
                </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <button (click)="saveNewProgram(); addRow()" mat-icon-button>
                    <mat-icon id="add-icon">add</mat-icon>
                </button>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns;  sticky: true"></mat-footer-row>
    </mat-table>

</div>
