<form (ngSubmit)="submit()">
    <mat-card>
        <img class="logo" src="../../../assets/logo.jpg" routerLink="/{{routePaths.home}}">
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{loginText.email}}</mat-label>
                <input matInput [formControl]="email" email type="email" required>
                <mat-error *ngIf="email.errors?.required">
                    {{loginText.emailRequired}}
                </mat-error>
                <mat-error *ngIf="email.errors?.email">
                    {{loginText.invalidEmail}}
                </mat-error>
                <mat-error *ngIf=" email.errors?.invalidUser">
                    {{loginText.invalidUser}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{loginText.password}}</mat-label>
                <input matInput [formControl]="password" type="password" required>
                <mat-error *ngIf="password.errors?.required">
                    {{loginText.passwordRequired}}
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <div>
            <div id="account-control">
                <button [disabled]="isSignInDisabled"
                        type="submit"
                        id="sign-in"
                        mat-raised-button
                >{{loginText.signIn| uppercase }}</button>
                <div class="row">
                    <button type="button"
                            routerLink="/{{routePaths.signUp}}"
                            id="sign-up"
                            mat-raised-button
                    >{{loginText.signUp | uppercase}}</button>
                    <button type="button"
                            routerLink="/{{routePaths.forgotPassword}}"
                            id="forgot-password"
                            mat-raised-button
                    >{{loginText.forgotPassword | uppercase}}</button>
                </div>
            </div>
        </div>
    </mat-card>
</form>
