<div class="table-wrapper ">
    <mat-table matSort matSortDisableClear [dataSource]="dates">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef >{{examDatesText.name}}</mat-header-cell>
            <mat-cell *matCellDef="let date; index as i">
                <mat-form-field floatLabel="never">
                    <mat-select (selectionChange)="updateDate(date)" [(ngModel)]="dates.data[i].name">
                        <mat-option [value]="name"
                                    *ngFor="let name of examNames">{{maturityExamEnum[name]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                    <mat-form-field floatLabel="never">
                        <mat-label>{{examDatesText.name}}</mat-label>
                        <mat-select [(ngModel)]="newDate.name">
                            <mat-option [value]="name"
                                        *ngFor="let name of examNames">{{maturityExamEnum[name]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>{{examDatesText.type}}</mat-header-cell>
            <mat-cell *matCellDef="let date; index as i">
                <mat-form-field>
                    <mat-select (selectionChange)="updateDate(date)" [(ngModel)]="dates.data[i].type">
                        <mat-option [value]="type"
                                    *ngFor="let type of typeNames">{{examTypeEnum[type]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <mat-label>{{examDatesText.type}}</mat-label>
                    <mat-select [(ngModel)]="newDate.type">
                        <mat-option [value]="type"
                                    *ngFor="let type of typeNames">{{examTypeEnum[type]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container  matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef >{{examDatesText.date}}</mat-header-cell>
            <mat-cell *matCellDef="let date">
                <mat-form-field id="date-time-field" floatLabel="never">
                    <input matInput class="date-time" (input)="updateDate(date)" type="datetime-local" [(ngModel)]="date.dateTime">
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <mat-form-field class="long-input" floatLabel="never">
                    <mat-label>{{examDatesText.date}}</mat-label>
                    <input matInput [(ngModel)]="newDate.dateTime" type="datetime-local" placeholder="{{examDatesText.date}}" required>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>{{examDatesText.delete}}</mat-header-cell>
            <mat-cell *matCellDef="let date">
                <button (click)="delete(date)" mat-icon-button>
                    <mat-icon id="delete-icon">delete</mat-icon>
                </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>
                <button (click)="saveNewDate(); addRow()" mat-icon-button>
                    <mat-icon id="add-icon">add</mat-icon>
                </button>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns;  sticky: true"></mat-footer-row>
    </mat-table>

</div>
