exam-date {
  overflow: auto;
  height: 100%;

  .table-wrapper {
    width: 1480px;
  }

  .mat-footer-row {
    height: 6em;
    background: antiquewhite;
  }
  .mat-footer-row, .mat-header-row {
    z-index: 0;
  }

  #date-time-field, .long-input {
    width: 65%;
  }

}
