<div class="table-wrapper">
    <mat-table flex matSort matSortDisableClear [dataSource]="maturityExams">

        <ng-container matColumnDef="name">
            <mat-header-cell fxFlex="18%" *matHeaderCellDef>{{examListText.name}}</mat-header-cell>
            <mat-cell fxFlex="18%" *matCellDef="let exam; index as i">
                <mat-form-field>
                    <mat-select (selectionChange)="updateExam(exam)" [(ngModel)]="maturityExams.data[i].name">
                        <mat-option [value]="name"
                                    *ngFor="let name of examNames">{{maturityExamEnum[name]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell fxFlex="18%" *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <mat-label>{{examListText.name}}</mat-label>
                    <mat-select required [(ngModel)]="newExam.name">
                        <mat-option [value]="key"
                                    *ngFor="let key of examNames">{{maturityExamEnum[key]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell fxFlex="18%" *matHeaderCellDef>{{examListText.year}}</mat-header-cell>
            <mat-cell fxFlex="18%" *matCellDef="let exam">
                <mat-form-field>
                    <mat-select (selectionChange)="updateExam(exam)" [(ngModel)]="exam.year">
                        <mat-option [value]="year"
                                    *ngFor="let year of years">{{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell fxFlex="18%" *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <mat-label>{{examListText.year}}</mat-label>
                    <mat-select required [(ngModel)]="newExam.year">
                        <mat-option [value]="year"
                                    *ngFor="let year of years">{{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell fxFlex="18%" *matHeaderCellDef>{{examListText.type}}</mat-header-cell>
            <mat-cell fxFlex="18%" *matCellDef="let exam; index as i">
                <mat-form-field>
                    <mat-select (selectionChange)="updateExam(exam)" [(ngModel)]="maturityExams.data[i].type">
                        <mat-option [value]="type"
                                    *ngFor="let type of typeNames">{{examTypeEnum[type]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell fxFlex="18%" *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <mat-label>{{examListText.type}}</mat-label>
                    <mat-select required [(ngModel)]="newExam.type">
                        <mat-option [value]="type"
                                    *ngFor="let type of typeNames">{{examTypeEnum[type]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="examUrl">
            <mat-header-cell fxFlex="18%" *matHeaderCellDef>{{examListText.examUrl}}</mat-header-cell>
            <mat-cell fxFlex="18%" *matCellDef="let exam">
                <mat-form-field floatLabel='never'>
                    <input matInput class="exam-url" (input)="updateExam(exam)" [(ngModel)]="exam.examUrl" required>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell fxFlex="18%" *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <input [(ngModel)]="newExam.examUrl" matInput placeholder="{{examListText.examUrl}}" required>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="answerUrl">
            <mat-header-cell fxFlex="18%" *matHeaderCellDef>{{examListText.answerUrl}}</mat-header-cell>
            <mat-cell fxFlex="18%" *matCellDef="let exam">
                <mat-form-field floatLabel='never'>
                    <input matInput class="answer-url" (input)="updateExam(exam)" [(ngModel)]="exam.answerUrl" required>
                </mat-form-field>
            </mat-cell>
            <mat-footer-cell fxFlex="18%" *matFooterCellDef>
                <mat-form-field floatLabel='never'>
                    <input [(ngModel)]="newExam.answerUrl" matInput placeholder="{{examListText.answerUrl}}" required>
                </mat-form-field>
            </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell fxFlex="5" *matHeaderCellDef>{{examListText.delete}}</mat-header-cell>
            <mat-cell fxFlex="5" *matCellDef="let exam">
                <button (click)="delete(exam)" mat-icon-button>
                    <mat-icon id="delete-icon">delete</mat-icon>
                </button>
            </mat-cell>
            <mat-footer-cell fxFlex="5" *matFooterCellDef>
                <button mat-icon-button (click)="saveNewExam(); addRow()">
                    <mat-icon id="add-icon">add</mat-icon>
                </button>
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns;  sticky: true"></mat-footer-row>
    </mat-table>
</div>
